.tabela_div {
  position: absolute;
  width: 55%;
  height: 50%;
  left: 35em;
  top: 50px;
}
.tabela {
  width: 100%;
  border-collapse: collapse;
}

.tabela th {
  color: #fff;
  padding: 8px;

  text-align: left;
  border: 1px solid #fff;
}

.tabela td {
  color: #fff;
  padding: 8px;
  text-align: left;
  border: 1px solid #fff;
}

.semDados {
  width: 160%;
  height: 50%;
  margin-top: 0;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btnEditar {
  background-color: #84ae92;
  color: #fff;
  border: none;
  height: 23px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.btnEditar:hover {
  transform: scale(1.1);
  background-color: #74967f;
}

.btnLixo {
  background-color: #8dbcc7;
  color: #fff;
  border: none;
  height: 23px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.btnLixo:hover {
  transform: scale(1.1);
  background-color: #6c8f97;
}

.tabela_div h2 {
  color: #fff;
}

.btnSelecionadosApagar {
  margin-top: 15px;
  background-color: #70947c;
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  width: 150px;
  height: 70px;
  transition: transform 0.2s;
  cursor: pointer;
}

.btnSelecionadosApagar:hover {
  transform: scale(1.1);
  background-color: #5c7965;
}

.btnSelecionadosApagarTodos {
  margin-top: 15px;
  background-color: #70947c;
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  transition: transform 0.2s;
  cursor: pointer;
}

.btnSelecionadosApagarTodos:hover {
  transform: scale(1.1);
  background-color: #5c7965;
}