.div_inicial {
  margin: 10px;
  width: 35%;
  height: 100%;
  border-right: 1px solid #fff;
}

/* .tabelinha{
    margin-left: 50%;
} */

.div_inicial h1 {
  color: #fff;
}

.btnSalvar {
  width: 8em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  margin: 10px;
  color: #fff;
  background-color: #70949c;
  transition: transform 0.2s;
  cursor: pointer;
}

.btnSalvar:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #6c8f97;
}
